*{
    margin: 0;
    font-family: 'inter';
}

#upper-menu {
    background-color: #303030;
    color: #FFFFFF;
    padding: 60px;
}

#upper-menu-title {
    font-size: 60px;
    font-weight: 600;
    padding-top: 70px;
    padding-bottom: 20px;
}

#upper-menu-text {
    padding-bottom: 30px;
    font-size: 20px;
    font-weight: 500;
}

#info-menu {
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    padding: 50px;
    background-color: #F9F9F9;
    justify-content: space-around;
}

.info {
    margin-left: 50px;
}

.info-title {
    font-size: 30px;
}

#about-section {
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    padding: 50px;
    align-items: center;
    justify-content: space-around;
}

#about-title {
    font-size: 26px;
    margin-bottom: 15px;
}

#form-section {
    background-color: #303030;
    text-align: center;
    padding: 70px;
    padding-top: 50px;
}

#form-title {
    color: #FFFFFF;
    margin-bottom: 15px;
    margin-top: 30px;
    font-size: 32px;
}

input {
    width: 500px;
    height: 50px;
    margin: 20px;
    border-radius: 10px;
    border: 0;
    font-size: 24px;
    font-weight: 700;
    color: #000000;
    padding: 15px;
}

button {
    width: 275px;
    height: 70px;
    margin: 15px;
    margin-top: 50px;

    color: #C07212;

    cursor: pointer;

    font-size: 30px;
    font-weight: 700;

    border-width: 1px;
    border-radius: 10px;
    border-style: solid;
    border-color: #C07212;

    background-color: #00000000;

    transition-duration: .25s;
}

button:hover {
    border-width: 0;
    background-color: #C07212;
    color: #ffffff;

    transform: translateY(-5px);

    box-shadow: 0 15px 20px 0 #181818ba;

    transition-duration: .25s;
}